<div class="hero">
  <br/>
  <br/>


<center><h1>Add a Book</h1>

<%= render 'form', book: @book %>

<%= link_to 'Booklist', books_path %>
</center>
</div>

<center><%= link_to 'Google Book Search', results_path %></center>
